﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="ConsumerEnrollView.aspx.cs" Inherits="WexHealth.AdminPortal.Views.Consumer.ConsumerEnrollView" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <asp:Label runat="server" ID="lblConsumerInfo"/>
    <asp:Label runat="server" ID="lblEmployerInfo"/>
</asp:Content>