%btn{
    margin: $default-button-margin;
    padding: $default-button-padding;
    border:none;
    border-radius: $default-button-border-radius;
    font-size: $default-button-font-size;
    background-color: $default-button-color;
    color: $default-button-font-color;
    width: $default-button-width;
}

.btn{
    @extend %btn;
}