body{
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

main{
    position: relative;
    width: $default-content-width;
    margin-left: $default-content-margin-left-right;
    margin-right: $default-content-margin-left-right;
    height: auto;
}