%flex-row-panels{
    display: flex;
    flex-direction: row;
}

%flex-column-panels{
    display: flex;
    flex-direction: column;
}

.container-vertical{
    @extend %flex-column-panels;
}

.container-horizontal{
    @extend %flex-row-panels;
}

.container-small{
    width: 10rem;
}

.container-medium{
    width: 20rem;
}

.container-large{
    width: 30rem;
}