.dropdown{
    width: $default-dropdown-width;
    height: $default-dropdown-heigth;
    padding: $default-dropdown-padding;
    border: $default-dropdown-border;
    border-radius: $default-dropdown-border-radius;
}