%text-input{
    height: $default-input-height;
    width: $default-input-width;
    border-radius: $default-button-border-radius;
    padding: $default-button-padding;
    font-size: $default-input-font-size;
    border: $default-input-border;
    box-shadow: $default-box-shadow;
}

%text-input:focus{
    border: $default-input-border-focus;
    box-shadow: $default-box-shadow-active;
}

.text-input{
    @extend %text-input;
}

.text-input:focus{
    @extend %text-input:focus;
}