.navigation-panel{
    position: relative;
    background: $default-navigation-panel-background-color;
    width: $default-element-size;
    height: $default-navigation-panel-height;

    ul{
        position: relative;
        margin: 0;
        padding: 0;
        list-style: none;
        align-content: center;
        padding-top: $default-ul-padding;
        padding-left: $default-content-margin-left-right;
        li{
            display: inline;
            margin: $default-li-margin;
            font-size: $default-font-size;
        }
    }
}