
//main
$default-content-width: 60%;
$default-content-margin-left-right: calc((100% - #{$default-content-width}) / 2); 
//links
$default-link-color: #9d9d9d;
$default-link-color-hover: gray;
//buttons
$default-button-width:10rem;
$default-button-height:2.5rem;
$default-button-padding:0.5rem;
$default-button-margin:0;
$default-button-font-size:1.2rem;
$default-button-color: #5cb85c;
$default-button-font-color: white;
$default-button-border-radius:0.3rem;
//inputs
$default-input-width:15rem;
$default-input-height:1.2rem;
$default-input-padding:0.2rem;
$default-input-margin:0;
$default-input-font-size:1.2rem;
$default-input-font-color: darkgray;
$default-input-border:1px solid gray;;
$default-input-border-focus:1px solid #8dbade;
$default-input-border-radius:0.3rem;
//labels
$default-label-padding: 0.2rem;
$default-label-font-size:1.2rem;

//containers

//common

//dropdowns
$default-dropdown-border:1px solid gray;
$default-dropdown-width:15rem;
$default-dropdown-heigth:2.5rem;
$default-dropdown-padding:0.3rem;
$default-dropdown-border-radius:0.3rem;
//shadows
$default-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$default-box-shadow-active: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);


//navigation-bar
$default-navigation-panel-height: 5rem;
$default-navigation-panel-background-color: #222222;
$default-element-size: 100%;
$default-font-color: #9d9d9d;
$default-ul-padding: 1.2rem;
$default-li-margin: 1rem;
$default-font-size: 1.5rem;