.container-horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container-vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-small {
  width: 10rem;
}

.container-medium {
  width: 20rem;
}

.container-large {
  width: 30rem;
}

a {
  color: #9d9d9d;
  text-decoration: none;
}

a:hover {
  color: gray;
}

.text-input {
  height: 1.2rem;
  width: 15rem;
  border-radius: 0.3rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  border: 1px solid gray;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.text-input:focus {
  border: 1px solid #8dbade;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.btn {
  margin: 0;
  padding: 0.5rem;
  border: none;
  border-radius: 0.3rem;
  font-size: 1.2rem;
  background-color: #5cb85c;
  color: white;
  width: 10rem;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}

main {
  position: relative;
  width: 60%;
  margin-left: calc((100% - 60%) / 2);
  margin-right: calc((100% - 60%) / 2);
  height: auto;
}

.label {
  padding: 0.2rem;
  font-size: 1.2rem;
}

.dropdown {
  width: 15rem;
  height: 2.5rem;
  padding: 0.3rem;
  border: 1px solid gray;
  border-radius: 0.3rem;
}

.navigation-panel {
  position: relative;
  background: #222222;
  width: 100%;
  height: 5rem;
}

.navigation-panel ul {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-top: 1.2rem;
  padding-left: calc((100% - 60%) / 2);
}

.navigation-panel ul li {
  display: inline;
  margin: 1rem;
  font-size: 1.5rem;
}
/*# sourceMappingURL=master.css.map */