﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="EmployerManageRulesView.aspx.cs" Inherits="WexHealth.AdminPortal.Views.Employer.EmployerManageRulesView" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
</asp:Content>
