﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="EmployerManageUsersView.aspx.cs" Inherits="WexHealth.AdminPortal.Views.Employer.EmployerManageUsersView" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
</asp:Content>
