﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="HomeView.aspx.cs" Inherits="WexHealth.AdminPortal.Views.Home.HomeView" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <asp:Label runat="server" ID="lb_Text">Hello WEX Health Cloud (1Cloud)!</asp:Label>
</asp:Content>